<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Productos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="style_4.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style_4.css">
</head>
<body>

    <header>

        <div>
            <img src="/img/logo.jpg.png" class="logo">
           </div>
          
           <div class="search-container">
            <form action="/buscar" method="get">
            <input type="text" name="busqueda" placeholder="Buscar...">
            <i class="fas fa-search"></i>
            </form>
           </div><br>
          
           <div class="mi-cuenta">
              <i class="fas fa-user icon"></i>
              <i class="fas fa-heart icon"></i>
             <i class="fas fa-shopping-cart icon"></i>
              </div><br>



        <h1>GIORGIO ARMANI</h1>
    </header>

    <div>
        <a href="/" class="enlace-verde">HOME</a>
    </div><br>

   

    <h2>Formulario de creación de productos</h2><br>

    <form action="/create" method="POST">
        <div>
            <label for="artículo">Artículo: </label>
            <input type="text" name="artículo" id="artículo" placeholder="Ingresar artículo">
        </div>
        <br>
        <div>
            <label for="descripción">Descripción: </label>
            <input type="text" name="descripción" id="descripción" placeholder="Ingresar descripción">
        </div>
        <br>
        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" placeholder="Ingresar precio">
        </div>
        <br>
        <div>
            <input type="file" name="image">
        </div>

        <div>
            <input type="submit" value="Guardar producto">
        </div>

       
    </form>

    <footer>
    <h2>DESCUBRA ARMANI/PRIVÉ</h2>
    <p>La expresión olfativa del sueño de alta costura.</p> 
    
    <div id="video-container">
        <video src="ARMANI _ PRIVÉ.mp4" autoplay loop controls></video>
      </div>
    
    
        <DIv>
        <ul class="lista-horizontal">
         <li><a href="#">ATENCIÓN AL CLIENTE</a></li>
         <li><a href="#">MI PEDIDO</a></li>
         <li><a href="#">PAGOS</a></li>
         <li><a href="#">ENVÍOS Y DEVOLUCIONES</a></li>
       </ul>
      </DIv><br>
         <section id="metodos-pago">
       <p>MÉTODOS DE PAGO</p><br>
      <i class="fab fa-cc-visa icono"></i>
      <i class="fab fa-cc-mastercard icono"></i>
      <i class="fab fa-cc-amex icono"></i>
      <i class="fab fa-cc-jcb icono"></i>
      <i class="fab fa-cc-discover icono"></i>
      <i class="fab fa-cc-paypal icono"></i>
      </section><br>
     
       <section id="redes">
       <p>FOLLOW US</p><br>
         <footer id="mi-footer"></footer>
         <i class="fab fa-facebook-square icono"></i>
         <i class="fab fa-instagram icono"></i>
     
         
      </section><br>
    
    
      <div class="links">
        <p><a href="terminosgeneralesdeventa.html">Términos generales de venta</a></p>
        <p><a href="terminosycondiciones.html">Términos y condiciones</a></p>
        <p><a href="mapadelsitio.html">Mapa del sitio</a></p>
        <p><a href="politicadeprivacidad.html">Política de privacidad</a></p> 
        </div>
        
    
       <footer>Copyright © 2023 Giorgio Armani S.p.A.</footer><br>
      </footer>


</body>
</html>